[submodule "Submodules/ReusableWorkflows"]
	path = Submodules/ReusableWorkflows
	url = https://github.com/grigorye/ReusableWorkflows
[submodule "Submodules/etcetera"]
	path = Submodules/etcetera
	url = https://github.com/jaredsinclair/etcetera
