//
//  URLHelperApp-app.xcconfig
//  URLHelperApp
//
//  Created by Grigory Entin on 29/10/2018.
//  Copyright © 2018 Grigory Entin. All rights reserved.
//

GE_VERBOSE = YES

GE_APPEND_BUNDLE_VERSION_INTO_BUNDLE_SHORT_VERSION_STRING = YES

CRASHLYTICS_ENABLED = YES

XC_FABRIC_API_KEY = a041320bf4147ab842dc85b6f431b045c1c49276
